* {
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #176328;
  --secondaryColor: #ffda71;
  --darkGray: #171717;
  --gray: #666666;
  --lightGray: #818181;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Open Sans";
  background-color: var(--white);
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

h4,
h6 {
  text-transform: uppercase;
}
h2 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: var(--darkGray);
}

a {
  text-decoration: none;
}

/* Menu Integration */

#zuppler-menu {
  margin: 0 auto;
}

.zbutton-primary,
.option-selected .option-label span,
.option-label .quantity-picker .icon-primary-reverse,
.option-label .quantity-picker input,
.zbutton.zbutton-contrast-reverse.enabled.dropdown-trigger.navigation-cart-button.zbutton-active
  div:first-child
  span,
.z-menu-item-title .z-menu-item-qty span {
  color: #fff !important;
}
.z-menu-category-title {
  color: var(--mainColor) !important;
  letter-spacing: 0px !important;
  font-family: "Poppins" !important;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
}
.z-menu-item-title p,
.z-menu-item-price {
  font-family: "Open Sans";
  font-weight: 400 !important;
}
